.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 100dvh;
}

@media (max-width: 1300px) {
  .container {
    flex-direction: column;
  }
}

.section-container {
  position: relative;
  margin: 30px 16px 30px 16px;
  max-width: 90vw;
}

.section-title {
  display: flex;
  border-radius: 4px;
  font-size: 20px;
  transform: skew(-20deg);
  position: absolute;
  top: -16px;
  left: 8px;
  z-index: 10;
  width: 100%;
}

.section-title h2 {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 4px;
  font-size: 16px;
  transform: skew(20deg);
}

.section {
  border: 1px solid var(--borderColor);
  box-shadow: 3px 3px 11px var(--shadowColor);
  background-color: var(--transparentBackgroundColor);
  border-radius: 8px;
  position: relative;
  padding: 20px 8px;
  max-height: 95dvh;
  overflow: auto;
  height: 100%;
  margin: 20px 0;
}

.tab {
  border: 1px solid var(--borderColor);
  box-shadow: 3px 3px 5px var(--shadowColor);
  display: flex;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  justify-content: center;
  align-items: center;
  height: 32px;
  max-width: 200px;
  padding: 0 16px;
  border: 1px solid var(--borderColor);
  border-radius: 8px;
  margin: 0 4px;
  cursor: pointer;
  transition: 0.2s;
}

.tab h2 {
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.tab:hover,
.selected-tab {
  transition: none;
  color: var(--backgroundColor);
  border: 1px solid var(--borderColor);
  background-color: var(--tabColor);
}

@media (max-width: 1300px) {
  .section {
    max-height: unset;
  }
}

.left-panel {
  width: 400px;
  height: 100%;
}

.workspace {
  width: calc(100% - 400px);
  height: 100%;
}

.workspace-container {
  height: calc(100% - 30px);
}

.about {
  padding: 16px;
}

@media (max-width: 1300px) {
  .left-panel {
    width: unset;
    max-width: 400px;
  }
  .workspace {
    width: unset;
  }
}

.app-header {
  height: 65px;
}

.toolbar {
  height: calc(100% - 126px);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 !important;
}


.tab select {
  width: 140px;
  background: transparent;
  border: none;
  color: var(--textColor);
  transform: skew(20deg);
  outline: unset;
  font-family: "Lato";
  font-size: 16px;
}

.selected-tab select {
  color: var(--backgroundColor);
}

.tab:hover select {
  color: var(--backgroundColor);
}




.add-items {
  height: calc(100% - 40px);
}

.workspace-content {
  display: flex;
}

.collection {
  display: flex;
}

.icon {
  width: 16px;
  filter: invert(1) brightness(0.3);
}

.link-button {
  display: flex;
  align-items: center;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  box-shadow: 2px 2px 2px var(--shadowColor);
  gap: 4px;
  overflow: hidden;
  width: 200px;
  height: 32px;
  transition: 0.2s;
}

.link-button:hover {
  border: 1px solid var(--textColor);
}

.link-icon {
  background-color: var(--accentColor3);
  filter: invert(0);
  padding: 8px;
  margin-right: 4px;
  width: 32px;
}

.link-button span {
  color: var(--textColor);
}

.tab:hover .icon,
.selected-tab .icon,
html[dark] .icon {
  filter: invert(1) brightness(0.7);
}

html[dark] .tab:hover .icon,
html[dark] .selected-tab .icon {
  filter: unset;
}
